/* css 초기화 */
* {
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  display: block;
  color: #333;
  text-decoration: none;
}
body {
  background-color: #fff;
  color: #333;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
/* 헤더 */
header {
  position: relative;
  height: 100px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 200px 1000px;
  background-color: #ccc6bc;
  margin-top: 10px;
}
header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
header nav ul li {
  margin-right: 20px;
}
.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu {
  position: relative;
  z-index: 2;
}
.menu nav {
  position: absolute;
  right: 0;
  bottom: 0;
}
.menu nav > ul {
  display: flex;
  justify-content: space-between;
}

.menu nav > ul > li {
  width: 100px;
  height: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.menu nav > ul > li > a:hover {
  background-color: #a29a8c;
  color: #fff;
}

/* 메인 */
main {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}
main h1 {
  text-align: center;
}
.submenu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.submenu li {
  margin: 10px 20px;
}
.submenu li a {
  text-decoration: none;
  display: flex;
  padding-right: 20px;
  color: black;
}
.submenu li a:hover {
  background-color: #a29a8c;
}
.submenu li:nth-child(3) a {
  color: #fff; /* 텍스트 색상을 변경하여 활성화 상태를 나타냅니다. */
  background-color: #a29a8c; /* 배경색을 변경하여 활성화 상태를 나타냅니다. */
  padding: 8px 12px; /* 버튼 간격을 조정합니다. */
  border-radius: 4px; /* 둥근 모서리를 추가합니다. */
}
.main-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

.main-buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0f6df1;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
}

h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.team-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-selection h1 {
  font-size: 24px;
  margin-right: 20px;
}

.other-team-btn {
  padding: 10px 20px;
  background-color: #eee;
  color: #000;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.other-team-btn:hover {
  background-color: #ccc;
}
.team-info {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
.team-info h2 {
  font-size: 24px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.team-info p {
  margin-bottom: 10px;
}
.player-profile {
  display: flex;
  justify-content: center; /* 내부 컨텐츠를 중앙 정렬 */
  margin-top: 20px;
  text-align: center;
}

.player-details {
  display: flex;
  gap: 50px;
  margin: 20px 30px;
  justify-content: center; /* 플레이어 디테일을 중앙 정렬 */
}

.player-detail {
  margin-right: 10px; /* 각 선수 정보 간의 간격 조정 */
}

.player-detail a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333; /* 텍스트 색상 조정 */
}

.player-detail img {
  width: 150px; /* 이미지 크기 조정 */
  border: 1px solid #333;
  height: auto;
  margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 조정 */
}

.player-detail p {
  margin: 5px 0;
}
.schedule {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.schedule th,
.schedule td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}
.schedule th {
  background-color: #f0f0f0;
}

/* footer */
footer {
  background-color: #f0f0f0; /* 배경색 설정 */
  padding: 20px; /* 내부 여백 설정 */
  display: flex;
  justify-content: space-between; /* 요소들을 가로 방향으로 균등하게 배치 */
  align-items: center; /* 수직 정렬을 중앙으로 설정 */
  margin-bottom: 10px;
}

.footer-logo {
  flex: 0 0 auto; /* 유연한 크기 설정 */
}

.footer-inner {
  flex: 1; /* 남은 공간을 모두 차지 */
  display: flex;
  padding: 10px;
  justify-content: center; /* 요소들을 가로 방향으로 중앙 정렬 */
  align-items: center; /* 수직 정렬을 중앙으로 설정 */
}

.copy {
  margin-right: auto; /* 자동 여백 설정으로 중앙 정렬을 위한 왼쪽 여백 제거 */
}

.sns {
  display: flex; /* SNS 이미지들을 가로로 배열하기 위해 플렉스 박스로 설정 */
}

.sns a {
  margin-right: 10px; /* 각 이미지 사이의 간격 설정 */
}

.familysite select {
  width: 100px; /* select 요소의 너비 설정 */
  justify-content: center;
  text-align: center;
  display: flex;
}
